extends layout

block content
  div.container-fluid.w-75.h-100
    h3.mt-5 All Transactions:
    hr
    br
    br
    h4 withdrawal:
    hr
    table.table.table-striped.table-hover
      thead
        tr
          th Sender Name
          th Sender Last Name
          th Date
          th Amount
          th
      tbody
      each transaction in response.withdrawalData 
        tr
          td()=transaction.user_firstName
          td()=transaction.user_lastName
          td()=transaction.date_time
          td()=transaction.amount
          td 
            button(class='btn btn-primary' onclick=`location.href='/transaction/withdrawal/${transaction.id}'`) Details

    h4.mt-5 transfers:
    hr
    table.table.table-striped.table-hover
      thead
        tr
          th Sender Name
          th Sender Last Name
          th Reciever Name
          th Reciever Last Name
          th Date
          th Amount
          th
      tbody
      each transaction in response.transactionData
        tr
          td()=transaction.sender_firstName
          td()=transaction.sender_lastName
          td()=transaction.receiver_firstName
          td()=transaction.receiver_lastName

          td()=transaction.date_time
          td()=transaction.amount
          td 
            button(class='btn btn-primary' onclick=`location.href='/transaction/transfer/${transaction.id}'`) Details
