extends layout

block content
    div(class='container-fluid w-75 h-100', style='background-color: #f5f5f5; padding: 20px; border-radius: 10px;')
        h3(style='color: #333;') Customers
        div(class='my-4') 
            button(onclick=`location.href='/user/createUser'` class='btn btn-success') Add Customer
            button(onclick=`location.href='/transaction/'` class='btn btn-secondary mx-2') View All Transactions
        table.table(class='mt-4 table-striped')
            thead
                th(style='background-color: #13547f; color: #fff;') Name
                th(style='background-color: #13547f; color: #fff;') Last Name
                th(style='background-color: #13547f; color: #fff;') Phone number
                th(style='background-color: #13547f; color: #fff;') Actions
            tbody
                each customer in results
                    tr
                        td=customer.firstname
                        td=customer.lastname
                        td=customer.phoneNumber
                        td
                            button(type='button' class='btn btn-primary mx-2' onclick=`location.href='/user/${customer.id}/detail'`) Details
                            button(type='button' class='btn btn-danger', onclick=`deleteCustomer('${customer.id}')`) Delete

